//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^wheatleycraft.ml[nc]
RewriteRule ^(.*)$ http://www.wheatleycraft.ml/$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 private.html /private/home.html

//Password Protect file
<Files https://wheatleycraft.ml/private/>
AuthName "Prompt"
AuthType Basic
AuthUserFile https://wheatleycraft.ml/private/.htpasswd
Require valid-user
</Files>

//Custom 404 errors
ErrorDocument 404 404.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
